<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="css" href="{{url_for('static',filename='css/style.css')}}">	
</head>
<body>
	<div class="container">
		<div class="img">
			<img src="{{url_for('static',filename='img/creat.svg')}}">
		</div>
		<div class="login-content">
			<form method="POST" action="/">
				<img src="{{url_for('static',filename='img/avt.svg')}}">
				<h2 class="title">new user</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>email</h5>
    					<input type="email" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="Password" class="input">
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Create">
            </form>
        </div>
    </div>	
</body>
</html>